MONGODB_URI=
JWT_SECRET=
PORT=
APP_URL=
GO_ENV=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
VITE_RAZORPAY_KEY_ID=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

SUPPORT_EMAIL=

ADMIN_EMAIL=
ADMIN_PASSWORD=
CUSTOMER_EMAIL=
CUSTOMER_PASSWORD=
CUSTOMER_PHONE=
